<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create  new post</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <h3>CREATE A NEW REPORT!</h3>
    <form method="POST" action="/report">
        <input name="reports[item]" placeholder="enter title" type="text">
        <br /> <br />
        <textarea name="reports[description]" placeholder="enter description"></textarea>
        <br /> <br />
        <input name="reports[question]" placeholder="enter question" type="text">
        <br /> <br />

        <button>ADD</button>
    </form>
</body>
</html>