<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single post</title>
  </head>
  <body>
    <h3>Id: @<%= report.id %></h3>
    <h4>Item : <%= report.item %></h4>
    <h4>Description : <%= report.description %></h4>
    <h4>Question : <%= report.question %></h4>
  </body>
</html>
