<% layout("/layouts/boilerplate") %>
  <div class="container-fluid">
    <div class="mb-3">
      <h3 class="fw-bold fs-4 mb-3 admin">Admin Dashboard</h3>
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="card border-0">
            <div class="card-body py-4">
              <h5 class="mb-2 fw-bold">Total Members</h5>
              <p class="mb-4 fw-bold">1,150</p>
              <div class="mb-0 more-info">
                <span class="fw-bold"> More info </span>
                <span class="text-success">
                  <i class="lni lni-arrow-right-circle arrow"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card border-0">
            <div class="card-body py-4">
              <h5 class="mb-2 fw-bold">Total Lost and Found Items</h5>
              <p class="mb-4 fw-bold">150</p>
              <div class="mb-0 more-info">
                <span class="fw-bold"> More info </span>
                <span class="text-success">
                  <i class="lni lni-arrow-right-circle arrow"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card border-0">
            <div class="card-body py-4">
              <h5 class="mb-2 fw-bold">Total Returned Items</h5>
              <p class="mb-4 fw-bold">53</p>
              <div class="mb-0 more-info">
                <span class="fw-bold"> More info </span>
                <span class="text-success">
                  <i class="lni lni-arrow-right-circle arrow"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
